# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Misc
!app/cache/.gitkeep
!app/logs/.gitkeep
build/*
bin/*
composer.phar

# Entity backups
*~

# Bower
src/PlantPath/Bundle/VDIFNBundle/Resources/public/bower-components

# Mac awfulness
*.DS_Store
