html,
body {
    height: 100%;
    font-family: Caudex, Garamond, Georgia, "Times New Roman", Times, serif;
}

#sidebar {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 350px;
    height: 100%;
}

h1 {
    margin: 0;
    position: relative;
    height: 100px;
    margin: 8px 12px;
}

h1 span {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    white-space: nowrap;
}

h1 span:nth-of-type(2) {
    top: 32px;
    left: 19px;
    font-size: 0.75em;
}

#map-google-icon {
    position: absolute;
    left: 355px;
    bottom: 0;
}
