html,
body {
    height: 100%;
    font-family: Caudex, Garamond, Georgia, "Times New Roman", Times, serif;
}

input[type="text"] {
    border: 1px solid #d0d0d0;
}

header {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
}

header > div {
    padding: 10px 15px;
    height: 80px;
}

header > div > * {
    position: relative;
    height: 80px;
}

hgroup {
    float: left;
    width: 320px;
}

header .middle {
    float: left;
}

h1 {
    position: absolute;
    top: 6px;
    margin: 0;
}

h1 span {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    white-space: nowrap;
}

h1 span:nth-of-type(2) {
    top: 32px;
    left: 19px;
    font-size: 0.75em;
}

#map-pan-zoom-controls {
    position: absolute;
    top: 100px;
    left: 0;
}

#map-type-controls {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
}
